boto3>=1.33.12
diffusers==0.25.0
matplotlib>=3.8.0
pexels-api>=1.0.1
pillow>=10.0.1
pyunsplash>=1.0.0rc2
pyyaml>=6.0.1
requests>=2.31.0
safetensors>=0.4.1
sagemaker>=2.199.0
selenium>=4.15.2
torch==2.0.1
torchvision>=0.15.2
tqdm>=4.66.1
transformers==4.36.2
webdriver-manager>=4.0.1