torch>=2.1.0
torchvision
torchaudio
accelerate>=0.25.0
bitsandbytes>=0.41.0
deepspeed>=0.12.6
diffusers>=0.26.0
peft>=0.7.1
safetensors>=0.4.1
transformers>=4.36.0
wandb>=0.16.1
huggingface_hub>=0.19.4
datasets
pillow
tqdm
matplotlib
